.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontar);
  align-items: center;
  margin-top: 15px;
}
.screen-header__title {
  font-size: 26px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header .fa-gear:hover {
  animation: rotateCog 1.5s linear infinite;
}
